@use "../variables" as *;
@use "../mixins" as *;

.site-footer {
  display: block;
  margin-top: 3rem;
  padding-top: 1.5rem;
  border-top: 1px solid $color-gray-border;
  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  &__copyright {
    color: $color-muted;
    font-size: $typographic-meta-font-size;
    margin: 0;
    flex-shrink: 0;
  }
  .links {
    margin-bottom: 0;
    flex-shrink: 0;
  }
  .links__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
  }
  .links__list-item {
    display: inline-block;
  }
  .links__list-item a {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
