@use "../variables" as *;
@use "../mixins" as *;

.site-footer {
  display: block;
  margin-top: 3rem;
  padding-top: 1.5rem;
  border-top: 1px solid $color-gray-border;
  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  &__nav {
    flex-shrink: 0;
    order: 1;
    width: 100%;
    @include breakpoint-sm {
      width: auto;
      order: 0;
    }
  }
  &__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 1.25rem;
  }
  &__nav-item {
    margin: 0;
    padding: 0;
  }
  &__nav-link {
    font-size: $typographic-meta-font-size;
    font-weight: 500;
    color: $color-muted;
    text-decoration: none;
    padding: 0.25rem 0;
    transition: color 0.15s ease;
    &:hover,
    &:focus {
      color: $color-primary;
    }
    &--active {
      color: $color-primary;
      font-weight: 600;
    }
  }
  &__copyright {
    color: $color-muted;
    font-size: $typographic-meta-font-size;
    margin: 0;
    flex-shrink: 0;
  }
  .links {
    margin-bottom: 0;
    flex-shrink: 0;
  }
  .links__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
  }
  .links__list-item {
    display: inline-block;
  }
  .links__list-item a {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
