@use "../variables" as *;
@use "../mixins" as *;

.menu {
  @include margin-bottom(1.25);
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    &-item {
      padding: 0;
      margin: 0;
      &-link {
        display: block;
        font-size: $typographic-small-font-size;
        font-weight: 500;
        color: $color-base;
        padding: 0.5rem 0;
        border-radius: $radius-sm;
        transition: color 0.15s ease, background 0.15s ease;
        &:hover,
        &:focus {
          color: $color-primary;
        }
        &--active {
          color: $color-primary;
          font-weight: 600;
        }
      }
    }
  }
}
