@use "../variables" as *;
@use "../mixins" as *;

.post {
  padding: 1.25rem 0;
  border-bottom: 1px solid $color-gray-border;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: 0;
  }
  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: $typographic-heading-line-height;
    margin: 0 0 0.35rem;
    &-link {
      color: $color-base;
      text-decoration: none;
      transition: color 0.15s ease;
      &:hover,
      &:focus {
        color: $color-primary;
      }
    }
  }
  &__meta {
    font-size: $typographic-meta-font-size;
    color: $color-muted;
    margin: 0 0 0.5rem;
    &-sep {
      user-select: none;
    }
    &-category {
      color: $color-muted;
      text-decoration: none;
      &:hover,
      &:focus {
        color: $color-primary;
        text-decoration: underline;
      }
    }
  }
  &__description {
    font-size: 0.9375rem;
    line-height: 1.55;
    color: $color-muted;
    margin: 0;
  }
}
