@use "../variables" as *;
@use "../mixins" as *;

.post {
  padding: 1.5rem 0;
  border-bottom: 1px solid $color-gray-border;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0.25rem;
  }
  &__title {
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 1.3;
    margin: 0 0 0.375rem;
    &-link {
      color: $color-base;
      text-decoration: none;
      transition: color 0.15s ease;
      &:hover,
      &:focus {
        color: $color-primary;
      }
    }
  }
  &__meta {
    font-size: $typographic-meta-font-size;
    line-height: 1.4;
    color: $color-muted;
    margin: 0 0 0.5rem;
    letter-spacing: 0.01em;
    &-sep {
      user-select: none;
    }
    &-category {
      color: $color-muted;
      text-decoration: none;
      &:hover,
      &:focus {
        color: $color-primary;
        text-decoration: underline;
      }
    }
  }
  &__description {
    font-size: $typographic-small-font-size;
    line-height: 1.6;
    color: $color-muted;
    margin: 0;
    max-width: 56ch;
    letter-spacing: 0.01em;
  }
}
