---
import Layout from '../layouts/Layout.astro';
import { siteMetadata } from '../data/site';
---

<Layout title={`Not found - ${siteMetadata.title}`} description={siteMetadata.subtitle}>
  <main id="main-content" class="content">
    <div class="content__inner">
      <div class="page">
        <h1 class="page__title">Page not found</h1>
        <div class="page__body">
          <p>The page you're looking for doesn't exist or has been moved.</p>
          <p><a href="/">Go to homepage</a> or <a href="/">browse all articles</a>.</p>
        </div>
      </div>
    </div>
  </main>
</Layout>
