---
import { siteMetadata } from '../data/site';

const { author, title: blogName } = siteMetadata;
---

<header class="site-header">
  <div class="site-header__inner">
    <a href="/" class="site-header__brand">
      <span class="site-header__title">{blogName}</span>
    </a>
    <span class="site-header__author">
      <span class="site-header__by">by</span>
      <span class="site-header__photo-wrap">
        <img
          src="/profile-pic.jpg"
          class="site-header__photo"
          width="13"
          height="13"
          alt={author.name}
        />
      </span>
      <span class="site-header__author-name">{author.name}</span>
    </span>
  </div>
</header>

<style lang="scss" src="../assets/scss/components/_header.scss"></style>
